---
layout: default2
title: Blog
---

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
@media screen and (min-width: 550px) {
.row-listrecent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 400px;
  padding-bottom: 30px;
}
}
@media screen and (max-width: 550px) {
  .row-listrecent {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
}

</style>
</head>


<div class="row-listrecent">
  {% for post in site.posts %}

   {% include views/postbox.html %}

  {% endfor %}
</div>

