---
layout: default2
title: Blog
---

<html>
<head>
<meta name="viewport" content="Check out a wide variety of blog posts spanning different industries such as Real Estate, Dental, and Solar/Roofing. The ‘8 Steps to Creating Dynamite Facebook Ads for Real Estate Agents’ is a good place to start.">

<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '2609819729251896');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=2609819729251896&ev=PageView
&noscript=1"/>
</noscript>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

@media screen and (min-width: 550px) {
.row-listrecent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-bottom: 30px;

}
}
@media screen and (max-width: 550px) {
  .row-listrecent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 30px;
}

</style>
</head>

<div class="row-listrecent">
  {% for post in site.posts %}

   {% include views/postbox.html %}

  {% endfor %}
</div>


