<style>



.center-foot a {
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
  color: #113F67;
}

.center-foot a:hover {
  color: rgb(150,150,150);
}


.foot-bottom p {
  text-align: center;
}

.footer-structure {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 100%;
  cursor: pointer;
}



.right-foot h2{
  margin-right: 275px;
  font-size: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .left-foot {
    display: none;
  }
  .center-foot {
    display: none;
  }
  .right-foot {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .left-foot {
  margin-left: 275px;
  font-size: 16px;
}
  .center-foot {
  margin-top: 20px;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .left-foot {
  margin-left: 275px;
  font-size: 16px;
}
  .center-foot {
  margin-top: 20px;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .left-foot {
  margin-left: 275px;
  font-size: 16px;
}
  .center-foot {
  margin-top: 20px;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .left-foot {
  margin-left: 275px;
  font-size: 16px;
}
  .center-foot {
  margin-top: 20px;
}
}

</style>


<footer class="site-footer">
  <div class="footer-structure">
    <div class="left-foot">
      <h2>AdRunner</h2>
      <div> <a href="/adrunner/services/">Services</a></div>
      <div><a href="/adrunner/about/">About</a></div>
      <div><a href="/adrunner/blog/">Blog</a></div>
      <div><a href="/adrunner/contact/">Contact</a></div>
    </div>
    <div class="center-foot">

      <a href="https://www.facebook.com/Adrunnerllc/">
        <i class="fab fa-facebook">
          </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-twitter">
          </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-instagram">
          </i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin">
          </i>
      </a>
      </div>
      <div class="right-foot">
        <h2>Recent Blogs</h2>
        <div><a href="/adrunner/Google-s-Lead-Form-Extension-matches-Facebook-s-Lead-Ads/">Google's Lead Form Extension matches Facebook's Lead Ads</a></div>
        <div><a href="/adrunner/Facebook-Lead-Ads-for-Real-Estate-Agents-and-Why-They-re-Important/">Facebook Lead Ads for Real Estate Agents and Why They're Important</a></div>
      </div>
    </div>
    <div class="foot-bottom">
      <p>Copyright © 2019 | AdRunner LLC | All rights reserved.</p>
    </div>
</footer>
