<style>



.center-foot a {
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
  color: #113F67;
}

.center-foot a:hover {
  color: rgb(150,150,150);
}


.foot-bottom p {
  text-align: center;
}

.footer-structure {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 100%;
  cursor: pointer;
}

.left-foot {
  margin-left: 275px;
  font-size: 16px;
}

.center-foot {
  margin-top: 20px;
}

.right-foot h2{
  margin-right: 275px;
  font-size: 24px;
}

.

</style>


<footer class="site-footer h-card">
  <div class="footer-structure">
    <div class="left-foot">
      <h2>AdRunner</h2>
      <div> <a href="/adrunner/services.html">Services</a></div>
      <div><a href="/adrunner/about.html">About</a></div>
      <div><a href="/adrunner/blog.html">Blog</a></div>
      <div><a href="/adrunner/contact.html">Contact</a></div>
    </div>
    <div class="center-foot">

      <a href="https://www.facebook.com/Adrunnerllc/">
        <i class="fab fa-facebook">
          </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-twitter">
          </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-instagram">
          </i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin">
          </i>
      </a>
      </div>
      <div class="right-foot">
        <h2>Recent Blogs</h2>
        <div><a href="/adrunner/2019/11/21/Google-s-Lead-Form-Extension-matches-Facebook-s-Lead-Ads.html">Google's Lead Form Extension matches Facebook's Lead Ads</a></div>
        <div><a href="/adrunner/2019/11/11/Facebook-Lead-Ads-for-Real-Estate-Agents-and-Why-They-re-Important.html">Facebook Lead Ads for Real Estate Agents and Why They're Important</a></div>
      </div>
    </div>
    <div class="foot-bottom">
      <p>Copyright © 2019 | AdRunner LLC | All rights reserved.</p>
    </div>
</footer>
