
<div class="back">
  <form action="https://formspree.io/zach@adrunnerllc.com" method="POST" class="form-container" id="section2">
    <h2>Start Generating Business Today!</h2>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name.." required>

    <label for="number">Phone Number</label>
    <input type="text" id="number" name="phonenumber" placeholder="Your phone number.." required>

    <label for="email">Email</label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <input type="hidden" name="_next" value="https://lukeharris727.github.io/adrunner/demo.html"/>

    <button type="submit" class="btn">View Demo</button>

    </form>
  </div>
