---
layout: framework
---
<style>

.title {
  border-radius: 5px;
  background-color: #DEDEDE;
  padding: 20px;
  box-shadow: 10px 10px #D2C8C8;
  width: 50%;
  position: absolute;
  left: 20%;
}
.title h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 15px grey;
  text-align: center;
  font-size: 30px;
}

.description {
  margin-top: 180px;
  font-size: 18px;
}

.video {
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  border: 20px groove #ddd;
  width: 80%;
}
</style>

<div class="title">
<h1>About Us</h1>
</div>
<div class= "description">
  <p><em>AdRunner cuts through all of the unnecessary add-ons and simply gives you what you're looking for- LEADS. We automate the process and sync the leads directly to whatever CRM you're already using. Additionally AdRunner has proven text and email follow-up scripts to help you convert better. Contact us today to learn more!</em></p>
</div>
  <video class="video" width="400" height="450" controls>
      <source src="../assets/images/video.mp4" type=video/mp4>
    </video>

